services:
  backend:
    build:
      context: .
      dockerfile: docker/dev.dockerfile
    command: >
      air
      --build.pre_cmd "sqlc generate"
      --build.cmd "go build -o tmp/bin/main ."
      --build.include_ext "go"
      --build.exclude_dir "web,docs,node_modules,dist,screenshots,tmp,services/jobs"
      --build.exclude_regex "^.*\.templ$"
      --build.bin "tmp/bin/main"
      --build.delay "100"
      --build.stop_on_error "false"
      --misc.clean_on_exit true
    hostname: gocron
    volumes:
      - ./:/app/
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8156/health']
      start_period: 10s
      interval: 5s
      timeout: 5s
      retries: 60
    environment:
      - TZ=Europe/Berlin
    ports:
      - 8156:8156

  yarn:
    image: node:25-alpine
    working_dir: /app
    entrypoint: yarn
    command: install
    volumes:
      - ./web:/app/

  types:
    depends_on:
      backend:
        condition: service_healthy
      yarn:
        condition: service_completed_successfully
    image: node:25-alpine
    working_dir: /app
    command: sh -c "wget -qO- http://backend:8156/api/openapi.json -O openapi.json && yarn types"
    volumes:
      - ./web:/app/

  frontend:
    depends_on:
      types:
        condition: service_completed_successfully
    image: node:25-alpine
    working_dir: /app
    command: yarn dev
    volumes:
      - ./web:/app/
    healthcheck:
      test: ['CMD', 'sh', '-c', 'wget -qO- http://127.0.0.1:5173/ >/dev/null']
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 60
    ports:
      - 5173:5173

  cypress:
    network_mode: host
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_started
    profiles:
      - test
    image: cypress/included:15.10.0
    working_dir: /app
    command: cypress run --browser firefox
    environment:
      - CYPRESS_baseUrl=http://localhost:5173
    volumes:
      - ./web:/app
