services:
  sqlc:
    image: sqlc/sqlc:1.30.0
    working_dir: /app
    command: generate
    volumes:
      - ./:/app/

  backend:
    build:
      context: .
      dockerfile: docker/dev.dockerfile
    depends_on:
      sqlc:
        condition: service_completed_successfully
    command: >
      air
      --build.cmd "go build -o tmp/bin/main ."
      --build.include_ext "go"
      --build.exclude_dir "web,docs,node_modules,dist,screenshots,tmp"
      --build.exclude_regex "^.*\.templ$"
      --build.bin "tmp/bin/main"
      --build.delay "100"
      --build.stop_on_error "false"
      --misc.clean_on_exit true
    hostname: gocron
    volumes:
      - ./:/app/
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Berlin
    ports:
      - 8156:8156

  yarn:
    image: node:25-alpine
    working_dir: /app
    entrypoint: yarn
    command: install
    volumes:
      - ./web:/app/

  types:
    depends_on:
      backend:
        condition: service_started
      yarn:
        condition: service_completed_successfully
    image: node:25-alpine
    working_dir: /app
    entrypoint: sh
    command: -c "./wait-for-url.sh http://backend:8156/api/openapi.json && wget -qO- http://backend:8156/api/openapi.json -O openapi.json && yarn types"
    volumes:
      - ./web:/app/

  frontend:
    depends_on:
      backend:
        condition: service_started
      types:
        condition: service_completed_successfully
    image: node:25-alpine
    working_dir: /app
    command: yarn dev
    volumes:
      - ./web:/app/
    ports:
      - 5173:5173
