{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "navigation" }}
  {{ if .Jobs }}
    {{ block "btn" list "/jobs/form" "plus" "New Job" }}{{ end }}
  {{ end }}
{{ end }}

{{ define "content" }}
  {{ block "icons" . }}{{ end }}

  {{ $running := .JobRunning }}
  {{ $tz := env "TZ" }}
  {{ if .Jobs }}
    <div class="info-grid">
      {{ range .Jobs }}
        <div class="info-card">
          <div class="card-body">
            <div class="flex items-center gap-1 min-w-0">
              <div class="text-lg text-primary flex-1 truncate">{{ .Description }}</div>
              {{ $class := "" }}
              {{ $icon := "" }}
              {{ if eq .JobStatus 1 }}
                {{ $class = "bg-primary text-primary-content animate-spin icon-xs" }}
                {{ $icon = "#spinner" }}
              {{ else if eq .JobStatus 2 }}
                {{ $class = "bg-error text-error-content" }}
                {{ $icon = "#x" }}
              {{ else if eq .JobStatus 3 }}
                {{ $class = "bg-success text-success-content" }}
                {{ $icon = "#check" }}
              {{ else }}
                {{ $class = "bg-secondary text-secondary-content" }}
                {{ $icon = "#plus" }}
              {{ end }}
              <div class="badge badge-ghost badge-sm pr-0 flex gap-2 items-center whitespace-nowrap">
                <span id="date{{ .ID }}">{{ dateInZone "2006-01-02 15:04:05" (.UpdatedAt) $tz }}</span>
                <span class="flex h-5 w-5 relative">
                  <span
                    id="ping{{ .ID }}"
                    class="{{ if le .JobStatus 2 }}animate-ping{{ end }} absolute inline-flex h-full w-full rounded-full opacity-75 {{ $class }}"
                  >
                  </span>
                  <span id="status{{ .ID }}" class="relative inline-flex rounded-full items-center justify-center h-5 w-5 {{ $class }}">
                    <svg class="icon-xs"><use id="icon{{ .ID }}" href="{{ $icon }}"></use></svg>
                  </span>
                </span>
              </div>
            </div>
            <div class="grid gap-2">
              <div class="flex items-center gap-2 min-w-0">
                <svg class="icon-sm">
                  <use href="#{{ if gt .Remote.RepositoryType 1 }}cloud{{ else }}folder{{ end }}"></use>
                </svg>
                <div class="truncate">
                  {{ .Remote.Repository }}<span class="text-primary font-bold">/</span>{{ .RemoteDirectory }}
                </div>
              </div>
              <div class="flex items-center gap-2 min-w-0">
                <svg class="icon-sm">
                  <use href="#folder"></use>
                </svg>
                <div class="truncate">{{ .LocalDirectory }}</div>
              </div>
            </div>
            <div class="flex flex-wrap gap-3">
              <div class="status-badge">
                <svg class="icon-sm">
                  <use href="#database"></use>
                </svg>
                <div class="truncate">{{ .DatabaseType }}</div>
              </div>
              {{ if .DockerRestart }}
                <div class="status-badge">
                  <svg class="icon-sm">
                    <use href="#docker"></use>
                  </svg>
                  <div class="truncate">Restart</div>
                </div>
              {{ end }}
              {{ if .CheckResticRepo }}
                <div class="status-badge">
                  <svg class="icon-sm">
                    <use href="#check"></use>
                  </svg>
                  <div class="truncate">Check</div>
                </div>
              {{ end }}
              {{ if or .PreCustomCommand .PostCustomCommand }}
                <div class="status-badge">
                  <svg class="icon-sm">
                    <use href="#terminal"></use>
                  </svg>
                  <div class="truncate">CMD</div>
                </div>
              {{ end }}
            </div>
            <div class="card-actions justify-end">
              <button class="{{ if $running }}hidden{{ end }} runBtn btn btn-sm btn-ghost gap-2" onclick="startBackup(this)" value="/api/v1/job?id={{ .ID }}">
                <svg class="icon-sm">
                  <use href="#play"></use>
                </svg>
                Backup
              </button>
              <a class="btn btn-sm btn-ghost gap-2" href="/logs?id={{ .ID }}&limit=10">
                <svg class="icon-sm">
                  <use href="#log"></use>
                </svg>
                Log
              </a>
              <a class="btn btn-sm btn-ghost gap-2" href="/jobs/form?id={{ .ID }}">
                <svg class="icon-sm">
                  <use href="#edit"></use>
                </svg>
                Edit
              </a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  {{ else }}
    <div class="flex flex-col items-center gap-5">
      {{ block "btn" list "/jobs/form" "plus" "New Job" }}{{ end }}
    </div>
  {{ end }}
{{ end }}

{{ define "js" }}
  <script>
    function startBackup(e) {
      fetch(e.value, { method: 'POST' })
        .then(() => location.assign(e.value.replace('api/v1/job', 'logs') + '&limit=10'))
        .catch((err) => console.log(err));
    }

    function clearClasses(obj) {
      obj.classList.remove(
        'bg-primary',
        'text-primary-content',
        'animate-spin',
        'bg-error',
        'text-error-content',
        'bg-success',
        'text-success-content',
        'bg-secondary',
        'text-secondary-content'
      );
    }

    function selectClass(s) {
      switch (s) {
        case 1:
          return ['bg-primary', 'text-primary-content', 'animate-spin'];
        case 2:
          return ['bg-error', 'text-error-content'];
        case 3:
          return ['bg-success', 'text-success-content'];
        default:
          return ['bg-secondary', 'text-secondary-content'];
      }
    }

    function selectIcon(s) {
      switch (s) {
        case 1:
          return '#spinner';
        case 2:
          return '#x';
        case 3:
          return '#check';
        default:
          return '#plus';
      }
    }

    const runBtn = document.querySelectorAll('.runBtn');
    let sseSource = null;
    addEventListener('beforeunload', () => {
      sseSource && sseSource.close();
    });
    sseSource = new EventSource('/sse?stream=status');
    sseSource.onmessage = (e) => {
      const parsed = JSON.parse(e.data);
      if (parsed.jobs_finished) activateRunButtons();
      else deactivateRunButtons();

      const ping = document.querySelector('#ping' + parsed.job_id);
      if (ping) {
        clearClasses(ping);
        if (parsed.status <= 2) {
          ping.classList.add('animate-ping');
          ping.classList.add(...selectClass(parsed.status));
        } else ping.classList.remove('animate-ping');
      }

      const status = document.querySelector('#status' + parsed.job_id);
      const icon = document.querySelector('#icon' + parsed.job_id);
      if (status && icon) {
        clearClasses(status);
        status.classList.add(...selectClass(parsed.status));
        icon.setAttribute('href', selectIcon(parsed.status));
      }

      const date = document.querySelector('#date' + parsed.job_id);
      if (date) {
        date.innerText = parsed.updated_at;
      }
    };

    function deactivateRunButtons() {
      for (btn of runBtn) btn.classList.add('hidden');
    }

    function activateRunButtons() {
      for (btn of runBtn) btn.classList.remove('hidden');
    }
  </script>
{{ end }}
