{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "navigation" }}
  <div class="w-full pr-1 lg:pr-2 pl-2 flex items-center justify-between gap-2">
    <div class="form-control w-full max-w-xs">
      <select ref="jobId" @change="handleJobId" :value="jobId" class="bg-base-300 select">
        <option value="0">All</option>
        {{ range .JobOptions }}
          <option value="{{ .Value }}">{{ .Name }}</option>
        {{ end }}
      </select>
    </div>
    <select ref="settings" v-model.number="amount" class="hidden bg-base-300 select">
      <option v-for="option in amountOptions" :value="option">${option}</option>
    </select>
  </div>
{{ end }}

{{ define "content" }}
  {{ block "icons" . }}{{ end }}


  <div ref="app" class="hidden grid-cols-1 xl:grid-cols-2 gap-4 xl:mt-4">
    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#docker"></use>
          </svg>
          <kbd class="kbd select-none">docker system prune</kbd>
          <kbd
            class="kbd select-none cursor-pointer"
            @click="dockerPruneAllImages = !dockerPruneAllImages"
            :class="{'bg-primary text-primary-content':dockerPruneAllImages}"
            >--all</kbd
          >
          <kbd
            class="kbd select-none cursor-pointer"
            @click="dockerPruneVolumes = !dockerPruneVolumes"
            :class="{'bg-primary text-primary-content':dockerPruneVolumes}"
            >--volumes</kbd
          >
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://docs.docker.com/engine/reference/commandline/system_prune/">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>Remove all unused containers, networks, dangling images, and optionally, volumes.</div>
        </div>
        <div class="card-actions justify-end">
          <button @click="dockerRequest('prune','system')" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#docker"></use>
          </svg>
          <kbd class="kbd select-none">docker logs</kbd>
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://docs.docker.com/engine/reference/commandline/logs/">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>Fetch the logs of <span class="text-primary">${jobName()}</span> for <span class="text-primary">${this.amount}</span> number of lines.</div>
        </div>
        <div class="card-actions justify-end">
          <button @click="dockerRequest('logs',jobId)" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#restic"></use>
          </svg>
          <kbd class="kbd select-none">restic backup</kbd>
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://restic.readthedocs.io/en/latest/040_backup.html">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>Run backup of all jobs.</div>
        </div>
        <div class="card-actions justify-end">
          <button @click="resticRequest('backup','all')" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#restic"></use>
          </svg>
          <kbd class="kbd select-none">restic forget --prune</kbd>
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://restic.readthedocs.io/en/latest/060_forget.html#removing-snapshots-according-to-a-policy">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>
            Removing snapshots of <span v-if="jobName() !== '<job>'">the <span class="text-primary">${jobName()}</span> repository</span>
            <span v-else><span class="text-primary">all</span> repositories</span> according to a policy.
          </div>
        </div>
        <div class="card-actions justify-end">
          <button @click="resticRequest('forget',jobId == 0 ? 'all' : jobId)" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#restic"></use>
          </svg>
          <kbd class="kbd select-none">restic check --read-data-subset=${this.amount}%</kbd>
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://restic.readthedocs.io/en/latest/045_working_with_repos.html#checking-integrity-and-consistency">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>
            Checks a <span class="text-primary">${this.amount}%</span> subset of
            <span v-if="jobName() !== '<job>'">the <span class="text-primary">${jobName()}</span> repository</span>
            <span v-else><span class="text-primary">all</span> repositories</span>.
          </div>
        </div>
        <div class="card-actions justify-end">
          <button @click="resticRequest('check',jobId == 0 ? 'all' : jobId)" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#restic"></use>
          </svg>
          <kbd class="kbd select-none">restic snapshots</kbd>
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://restic.readthedocs.io/en/latest/045_working_with_repos.html#listing-all-snapshots">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>List all the snapshots stored in the <span class="text-primary">${jobName()}</span> repository.</div>
        </div>
        <div class="card-actions justify-end">
          <button @click="resticRequest('snapshots',jobId)" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#restic"></use>
          </svg>
          <kbd class="kbd select-none">restic repair index</kbd>
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://restic.readthedocs.io/en/latest/077_troubleshooting.html#repair-the-index">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>Repair the index of the <span class="text-primary">${jobName()}</span> repository.</div>
        </div>
        <div class="card-actions justify-end">
          <button @click="resticRequest('repair-index',jobId)" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#restic"></use>
          </svg>
          <kbd class="kbd select-none">restic repair snapshots</kbd>
          <kbd
            class="kbd select-none cursor-pointer"
            @click="resticRepairForget = !resticRepairForget"
            :class="{'bg-primary text-primary-content':resticRepairForget}"
            >--forget</kbd
          >
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://restic.readthedocs.io/en/latest/077_troubleshooting.html#remove-missing-data-from-snapshots">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>Remove all inaccessible data from the snapshots in the <span class="text-primary">${jobName()}</span> repository.</div>
        </div>
        <div class="card-actions justify-end">
          <button @click="resticRequest('repair-snapshots',jobId)" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#restic"></use>
          </svg>
          <kbd class="kbd select-none">restic unlock</kbd>
          <kbd
            class="kbd select-none cursor-pointer"
            @click="resticUnlockRemoveAll = !resticUnlockRemoveAll"
            :class="{'bg-primary text-primary-content':resticUnlockRemoveAll}"
            >--remove-all</kbd
          >
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://restic.readthedocs.io/en/latest/design.html#locks">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>Remove locks other processes created in the <span class="text-primary">${jobName()}</span> repository.</div>
        </div>
        <div class="card-actions justify-end">
          <button @click="resticRequest('unlock',jobId)" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 card-compact">
      <div class="card-body">
        <div class="flex items-center gap-2 flex-wrap">
          <svg class="icon-lg">
            <use href="#restic"></use>
          </svg>
          <kbd class="kbd select-none">restic restore</kbd>
          <input v-model="remoteRepository" type="text" placeholder="remote repository" class="input input-bordered input-sm" />
          <input v-model="passwordFile" type="text" placeholder="password file" class="input input-bordered input-sm" />
        </div>
        <div class="text-xs flex items-center gap-2">
          <a class="link" target="blank" href="https://restic.readthedocs.io/en/latest/050_restore.html#restoring-from-backup">
            <svg class="icon-sm hover:text-primary">
              <use href="#help"></use>
            </svg>
          </a>
          <div>Restore latest snapshot of a remote repository.</div>
        </div>
        <div class="card-actions justify-end">
          <button @click="resticRequest('restore','system')" class="btn btn-primary btn-sm">Go</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "js" }}
  <script type="module">
    import { createApp } from "/static/js/vue.esm-browser.prod.js";
    const app = createApp({
      data() {
        return {
          jobId: 0,
          amountOptions: [5, 10, 20, 30, 40, 50, 75, 100],
          amount: 5,
          jobNames: [],
          remoteRepository: "",
          passwordFile: "",
          dockerPruneAllImages: true,
          dockerPruneVolumes: false,
          resticRepairForget: true,
          resticUnlockRemoveAll: true,
        };
      },
      mounted() {
        for (const names of this.$refs.jobId) {
          this.jobNames.push({ name: names.innerText, value: +names.value });
        }
        this.$refs.app.classList.add("grid");
        this.$refs.app.classList.remove("hidden");
        this.$refs.settings.classList.remove("hidden");
      },
      methods: {
        handleJobId({ target }) {
          this.jobId = +target.value;
        },
        jobName() {
          const found = this.jobNames.find((job) => this.jobId === job.value);
          if (found) {
            if (found.value !== 0) return found.name;
          }
          return "<job>";
        },
        async dockerRequest(cmd, id) {
          if (confirm("Starting this command cannot be undone. Are your sure?")) {
            const response = await fetch("/api/v1/docker", {
              method: "POST",
              body: JSON.stringify({
                command: cmd,
                job_id: this.jobId,
                amount: this.amount,
                all_images: this.dockerPruneAllImages,
                prune_volumes: this.dockerPruneVolumes,
              }),
              headers: { "Content-Type": "application/json" },
            });
            if (response.ok) {
              if (id === "all") window.location.replace("/logs");
              else window.location.replace("/logs?id=" + id);
            }
          }
        },
        async resticRequest(cmd, id) {
          if (confirm("Starting this command cannot be undone. Are your sure?")) {
            const response = await fetch("/api/v1/restic", {
              method: "POST",
              body: JSON.stringify({
                command: cmd,
                job_id: this.jobId,
                amount: this.amount,
                remote_repository: this.remoteRepository,
                password_file: this.passwordFile,
                repair_forget: this.resticRepairForget,
                unlock_remove_all: this.resticUnlockRemoveAll,
              }),
              headers: { "Content-Type": "application/json" },
            });
            if (response.ok) {
              if (id === "all") window.location.replace("/logs");
              else window.location.replace("/logs?id=" + id);
            }
          }
        },
      },
    });
    app.config.compilerOptions.delimiters = ["${", "}"];
    app.mount("#app");
  </script>
{{ end }}
