{{ define "textInput" }}
  <div id="{{ index . 0 }}_wrapper" class="form-control {{ index . 5 }}">
    <label for="{{ index . 0 }}" class="label">
      <span class="label-text">{{ index . 1 }}</span>
      {{ with index . 4 }}
        <span class="label-text">
          <span class="label-alt">
            <a class="link" target="blank" href="{{ . }}">
              <svg class="icon-sm hover:text-primary">
                <use href="#help"></use>
              </svg>
            </a>
          </span>
        </span>
      {{ end }}
    </label>
    <input
      autocomplete="off"
      id="{{ index . 0 }}"
      name="{{ index . 0 }}"
      value="{{ index . 2 }}"
      type="text"
      class="input input-bordered {{ if index . 3 }}input-error{{ end }}"
    />
    {{ if index . 3 }}
      <label class="label">
        <span class="label-text-alt text-error">{{ range index . 3 }}<div class="flex items-center gap-2">{{ . }}</div>{{ end }}</span>
      </label>
    {{ end }}
  </div>
{{ end }}

{{ define "passwordInput" }}
  <div id="{{ index . 0 }}_wrapper" class="form-control {{ index . 4 }}">
    <label for="{{ index . 0 }}" class="label">
      <span class="label-text">{{ index . 1 }}</span>
    </label>
    <input
      autocomplete="off"
      id="{{ index . 0 }}"
      name="{{ index . 0 }}"
      value="{{ index . 2 }}"
      type="password"
      class="input input-bordered {{ if index . 3 }}input-error{{ end }}"
    />
    {{ if index . 3 }}
      <label class="label">
        <span class="label-text-alt text-error">{{ range index . 3 }}<div class="flex items-center gap-2">{{ . }}</div>{{ end }}</span>
      </label>
    {{ end }}
  </div>
{{ end }}

{{ define "selectInput" }}
  <div id="{{ index . 0 }}_wrapper" class="form-control {{ index . 6 }}">
    <label for="{{ index . 0 }}" class="label">
      <span class="label-text">{{ index . 1 }}</span>
      {{ with index . 5 }}
        <span class="label-text">
          <span class="label-alt">
            <a class="link" target="blank" href="{{ . }}">
              <svg class="icon-sm hover:text-primary">
                <use href="#help"></use>
              </svg>
            </a>
          </span>
        </span>
      {{ end }}
    </label>
    <select id="{{ index . 0 }}" name="{{ index . 0 }}" class="select select-bordered {{ if index . 4 }}select-error{{ end }}">
      {{ $t := index . 2 }}
      {{ range index . 3 }}
        <option {{ if eq .Value $t }}selected{{ end }} value="{{ .Value }}">{{ .Name }}</option>
      {{ end }}
    </select>
    {{ if index . 4 }}
      <label class="label">
        <span class="label-text-alt text-error">{{ range index . 4 }}<div class="flex items-center gap-2">{{ . }}</div>{{ end }}</span>
      </label>
    {{ end }}
  </div>
{{ end }}

{{ define "toggleInput" }}
  <div id="{{ index . 0 }}_wrapper" class="form-control my-3 {{ index . 3 }}">
    <label for="{{ index . 0 }}" class="label cursor-pointer">
      <span class="label-text">{{ index . 1 }}</span>
      <input id="{{ index . 0 }}" name="{{ index . 0 }}" value="true" type="checkbox" class="toggle" {{ if index . 2 }}checked{{ end }} />
    </label>
  </div>
{{ end }}

{{ define "formMenu" }}
  <div class="flex flex-row-reverse justify-start gap-5">
    <button type="submit" class="btn btn-primary gap-2">
      <svg class="icon-sm">
        <use href="#check"></use>
      </svg>
      Submit
    </button>
    <a href="{{ index . 0 }}" class="btn gap-2">
      <svg class="icon-sm">
        <use href="#x"></use>
      </svg>
      Cancel
    </a>
  </div>
{{ end }}
