<!DOCTYPE html>
<html lang="en" class="bg-base-200">
  <head>
    <meta charset="UTF-8" />
    <title>{{ block "title" . }}GoBackup{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A blazing fast backup service written in Go " />
    <meta name="theme-color" content="#d07915" />

    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/style.css?v={{ env "VERSION" }}" />
    {{ block "style". }}{{ end }}
  </head>

  <body id="app">
    {{ block "baseIcons" . }}{{ end }}

    {{ define "link" }}
      <a href="{{ index . 0 }}">
        <svg class="icon">
          <use href="#{{ index . 1 }}"></use>
        </svg>
        {{ index . 2 }}
      </a>
    {{ end }}

    {{ define "linkBtn" }}
      <a href="{{ index . 0 }}" class="btn btn-ghost gap-2">
        <svg class="icon">
          <use href="#{{ index . 1 }}"></use>
        </svg>
        {{ index . 2 }}
      </a>
    {{ end }}

    {{ define "primaryBtn" }}
      <a href="{{ index . 0 }}" class="btn btn-primary gap-2">
        <svg class="icon-var">
          <use href="#{{ index . 1 }}"></use>
        </svg>
        {{ index . 2 }}
      </a>
    {{ end }}


    <div class="drawer">
      <input id="drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <div class="fixed top-0 z-50 navbar bg-base-100">
          <div class="w-full xl::container flex items-center justify-between">
            <label for="drawer" class="xl:hidden btn btn-ghost drawer-button">
              <svg class="icon-var">
                <use href="#bars"></use>
              </svg>
            </label>
            <ul class="hidden xl:flex menu menu-horizontal px-1 gap-1">
              <li>{{ block "link" list "/jobs" "backup" "Jobs" }}{{ end }}</li>
              <li>{{ block "link" list "/remotes" "network" "Remotes" }}{{ end }}</li>
              <li>{{ block "link" list "/system" "system" "System" }}{{ end }}</li>
              <li>{{ block "link" list "/logs" "log" "Logs" }}{{ end }}</li>
              <li>{{ block "link" list "/tools" "tool" "Tools" }}{{ end }}</li>
              {{ block "bottomNav". }}{{ end }}
            </ul>
            <div class="flex-1">{{ block "navigation" . }}{{ end }}</div>
          </div>
        </div>
        <div class="h-16"></div>
        <div class="p-[0.7rem] xl:container">{{ block "content" . }}{{ end }}</div>
      </div>
      <div class="drawer-side z-50">
        <label for="drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-base-100 text-base-content">
          <li>{{ block "link" list "/jobs" "backup" "Jobs" }}{{ end }}</li>
          <li>{{ block "link" list "/remotes" "network" "Remotes" }}{{ end }}</li>
          <li>{{ block "link" list "/system" "system" "System" }}{{ end }}</li>
          <li>{{ block "link" list "/logs" "log" "Logs" }}{{ end }}</li>
          <li>{{ block "link" list "/tools" "tool" "Tools" }}{{ end }}</li>
        </ul>
      </div>
    </div>

    {{ block "js" . }}{{ end }}
    <script>
      const links = document.querySelectorAll(`ul.menu > li > a[href="${location.pathname}"]`);
      for (const link of links) {
        link.classList.add('text-primary');
      }
    </script>
  </body>
</html>
