<!DOCTYPE html>
<html lang="en" class="bg-base-200">
  <head>
    <meta charset="UTF-8" />
    <title>{{ block "title" . }}GoBackup{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A blazing fast backup service written in Go " />
    <meta name="theme-color" content="#d07915" />

    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/style.css?v={{ env "VERSION" }}" />
    {{ block "style". }}{{ end }}
  </head>

  <body id="app">
    {{ block "baseIcons" . }}{{ end }}

    {{ define "link" }}
      <a id="{{ index . 2 }}" href="{{ index . 0 }}">
        <svg class="icon">
          <use href="#{{ index . 1 }}"></use>
        </svg>
        <span class="text-xs md:text-base">{{ index . 2 }}</span>
      </a>
    {{ end }}

    {{ define "btn" }}
      <a href="{{ index . 0 }}" class="btn btn-ghost btn-sm gap-2">
        <svg class="icon">
          <use href="#{{ index . 1 }}"></use>
        </svg>
        {{ index . 2 }}
      </a>
    {{ end }}


    <div class="navbar bg-base-100 hidden md:flex p-1">
      <ul class="menu menu-horizontal container">
        <li>{{ block "link" list "/jobs" "backup" "Jobs" }}{{ end }}</li>
        <li>{{ block "link" list "/remotes" "network" "Remotes" }}{{ end }}</li>
        <li>{{ block "link" list "/system" "system" "System" }}{{ end }}</li>
        <li>{{ block "link" list "/logs" "log" "Logs" }}{{ end }}</li>
        <li>{{ block "link" list "/tools" "tool" "Tools" }}{{ end }}</li>
        <span class="flex-1"></span>
        {{ block "navigation" . }}{{ end }}
      </ul>
    </div>

    <div class="container p-1 md:p-3">{{ block "content" . }}{{ end }}</div>

    <div class="h-16 md:hidden"></div>
    <div class="btm-nav md:hidden">
      {{ block "link" list "/jobs" "backup" "Jobs" }}{{ end }}
      {{ block "link" list "/remotes" "network" "Remotes" }}{{ end }}
      {{ block "link" list "/system" "system" "System" }}{{ end }}
      {{ block "link" list "/logs" "log" "Logs" }}{{ end }}
      {{ block "link" list "/tools" "tool" "Tools" }}{{ end }}
    </div>

    {{ block "js" . }}{{ end }}
    <script>
      const links = document.querySelectorAll(`a[href="${location.pathname}"]`);
      for (const link of links) {
        link.classList.add('active');
      }
    </script>
  </body>
</html>
